/* CSS By Ryan Mayberry */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

}

/*Global Styles */
body {
    font-family: Playfair Display, sans-serif;
	background-color: var(--dark-charcoal);
	margin: 0 auto;
	max-width: 500px;
}

header {
	background-color: var(--midnight-blue);
}

header nav {
	background-color: var(--champagne-gold);
	text-align: center;

}

nav ul {
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding: 1rem 1rem;
}

nav a {
	text-decoration: none;
	color: var(--midnight-blue);
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	font-weight: bold;
}

header h1 {
	font-size: 4rem;
	font-weight: bold;
	padding-bottom: 2rem;
}

header p {
	font-style: italic;
	padding-bottom: 2rem;
	font-size: 1.25rem;
}

header h1, header p {
	color: var(--soft-white);
	text-align: center;
	background-color: var(--midnight-blue);
}
header img {
	display: block;
	margin: 0 auto;
	max-width: 20vw;
	height: auto;
	padding-bottom: 1rem;
}

main {
	background-color: var(--soft-white);
	padding-left: 2rem;
	padding-right: 2rem;
}

p {
	line-height: 1.4;
}

#welcome h2 {
	padding-top: 4rem;
	padding-bottom: 1rem;
	font-size: 2rem;
}

#welcome p {
	padding-bottom: 1rem; 
	line-height: 1.4;
	font-size: 0.85rem;
	max-width: 50ch;
}

hr {
	border: none;
	border-top: 2px solid var(--champagne-gold);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#offerings h2{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.card {
	background-color: var(--olive-green);
	border-radius: 10px;
	padding: 2rem 1rem;
	color: var(--soft-white);
	margin: 1rem auto;
}

.card h3 {
	font-size: 1.75rem;
	padding-bottom: 1rem;
	font-weight: bold;
}

.card ul {
	list-style: disc;
	margin-left: 1.5rem;
}

#gallery h2 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

figure {
	background-color: var(--soft-white);
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.8);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

figure img {
	display: block;
	margin: 0 auto;
	height: auto;
	width: 100%;

}

figcaption {
	font-style: italic;
	font-size: 0.75rem;
	text-align: center;
	color: var(--dark-charcoal);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#gallery a {
	display: block;
	text-align: center;
	background-color: var(--olive-green);
	text-decoration: none;
	color: var(--soft-white);
	padding: 1rem 2rem;
	border-radius: 8px;
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-weight: bold;
}

footer {
	background-color: var(--midnight-blue);
	text-align: center;
}

address {
	padding-top: 3rem;
}

address a {
	line-height: 1.5;
}

.contact-white {
	color: var(--soft-white);
}

.contact-gold {
	color: var(--champagne-gold);
	font-weight: bold;
}

.social-media {
	padding-top: 3rem;
	padding-bottom: 1.5rem;
}

.social-media a {
	color: var(--champagne-gold);
}

#footer a {
	text-decoration: none;
}


h2 {
	color: var(--midnight-blue);
	font-size: 2rem;
}

#card-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#gallery-grid {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Media Query (medium) */
@media screen and (min-width: 600px) {
	#card-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	#gallery-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	main {
		padding: 2rem;
	}

	h1 {
		font-size: 4rem;

	}

	h2 {
		font-size: 2.25rem;
	}
}

/* Media Query (large) */
@media screen and (min-width: 900px) {
	#card-container {
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	#gallery-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	header img {
		max-width: 10vw;
	}

	main {
		max-width: 900px;
		margin: 0 auto;
	}
}


/* Media Query (xl) */
@media screen and (min-width: 1200px) {
	#card-container {
		grid-template-columns: repeat(3, 1fr);
		max-width: 1100px;
		margin: 0 auto;

	}


	#gallery-grid {
		grid-template-columns: repeat(5, 1fr);
		max-width: 1100px;
	}

	main {
		max-width: 1200px;
		margin: 0 auto;
	}

	nav ul {
		gap: 4rem;
	}

	h1 {
		font-size: 5rem;
	}

	header p {
		font-size: 1.5rem
	}
}

